<i class="bi bi-list mobile-nav-toggle"></i>
 



    
        
      
       
      
                  
<section class="experience-section section">

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="heading">
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">Experiencia Laboral</h2>
              </div>
            </div>
          </div>
        </div><!-- col-sm-4 -->
        <div class="col-sm-8" data-aos="fade-up">
          <div class="experience margin-b-50" >
            <h4><b>PROGRAMADOR WEB SENIOR</b></h4>
            <h5 class="font-yellow"><b>OLIVER (UNILEVER)</b></h5>

            <p class="font-semi-white margin-tb-30">Desarrollo web, desarrollo de frontend backend, mantenimiento de brand.com de las marcas argentinas, desarrollo de webapps.
              siguientes tecnologías:</p>
            <ul class="list margin-b-30">
              <li>HTML5 + CSS, Javascript, PHP, MYSQL, Postman, ReactJS, NodeJS, Bitbucket, SASS, ba Bmboo, Adobe Experience Management (AEM), Adobe Templated (AEM Templated), Wordpress, Contentful entre otros</li>
              <li> Trabajos para Sedal, TRESemmé, Savora, Hellmanns, Knorr entre otras marcas</li>
          </div><!-- experience -->
          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROGRAMADOR WEB FULLSTACK</b></h4>
            <h5 class="font-yellow"><b>QUADAMA</b></h5>

            <p class="font-semi-white margin-tb-30" data-aos="fade-up">Desarrollo web, programación, diseño. Actualización de plugins. Desarrollo bajo las
              siguientes tecnologías:</p>
            <ul class="list margin-b-30" data-aos="fade-up">
              <li>Wordpress, HTML5+CSS, Javascript, PHP, MYSQL</li>
            </ul>
          </div><!-- experience -->
          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROGRAMADOR WEB FULLSTACK</b></h4>
            <h5 class="font-yellow"><b>DIARIO NCO</b></h5>

            <p class="font-semi-white margin-tb-30" data-aos="fade-up">Desarrollo web, programación, diseño, community management, mantenimiento de redes sociales. Subida de notas todos los días, de diario Online. Actualización de plugins. Desarrollo bajo las siguientes tecnologías:</p>
            <ul class="list margin-b-30">
              <li>Wordpress, HTML5+CSS, Javascript, PHP, MYSQL</li>
            </ul>
          </div><!-- experience -->



          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROGRAMADOR WEB</b></h4>
            <h5 class="font-yellow"><b>SKALD DIGITAL</b></h5>

            <p class="font-semi-white margin-tb-30">Diseñador y Programador Web. Diseño Web. Diseño y programación usando PHP, CSS,
HTML5. Diseño Gráfico usando Photoshop, Fireworks, Dreamweaver e Illustrator.Editor de templates y
códigos de CMS como WordPress, Joomla,
Phpbb entre otros.. Desarrollo bajo las siguientes tecnologías:</p>
            <ul class="list margin-b-30">
              <li>Wordpress, HTML5+CSS, Javascript, PHP, MYSQL</li>
            </ul>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>HELP DESK - SOPORTE TÉCNICO</b></h4>
            <h5 class="font-yellow"><b>PHILIP MORRIS INTERNACIONAL</b></h5>

            <p class="font-semi-white margin-tb-30" data-aos="fade-up">Tecnico Help Desk. Soporte Técnico / Mesa de Ayuda. Analista Mesa de
ayuda soporte a usuarios exclusivos de la propia empresa. Basado
en atención remota a problemas en software, ayuda con sistema de gestión SAP,
base de datos y HandHelds.Carga de labores mediante el sistema HP Openview.

</p>


          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROFESOR DE COMPUTACIÓN</b></h4>
            <h5 class="font-yellow"><b>INSTITUTO CASEI</b></h5>

            <p class="font-semi-white margin-tb-30">Profesor. Educación. Ayuda, enseñanza en distintos niveles de educación en Microsoft Office Corel Draw 3d Studio y Operador de PC.</p>

          </div><!-- experience -->


        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
      </div>
    </div>

  </div>

</div>

</section><!-- Sección experiencia laboral  -->





            