<i class="bi bi-list mobile-nav-toggle"></i>
 

<!-- ======= Hero Section ======= -->


      <!-- ======= Sección estudios ======= -->
      <section id="estudios" class="faq">

          <div class="container" >

    
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">Estudios <span class="text-span">Realizados</span></h2>
              </div>
            </div>

            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="heading">
                      <h3><b>Educaci&oacute;n</b></h3>
                      <h6 class="font-lite-black"><b>CARRERAS Y DIPLOMAS</b></h6>
                    </div>
                  </div><!-- col-sm-4 -->
                  <div class="col-sm-8" data-aos="fade-up">
                    <div class="education-wrapper">
                      <div class="education margin-b-50">
                        <h4><b>UTN (Universidad Tecnologica Nacional)</b></h4>
                        <h5 class="font-yellow"><b>Programador Fullstack + Reactjs</b></h5>
                        <h6 class="font-lite-black margin-t-10">Universidad Nacional</h6>
                        <p class="margin-tb-30">Estudios completados de programador fullstack (frontend + backend conjunto a Reactjs.</p>
                      </div>
          
                      <div class="education margin-b-50" data-aos="fade-up">
                        <h4><b>UNGS (Malvinas Argentina, Buenos Aires)</b></h4>
                        <h5 class="font-yellow"><b>Licenciatura en Sistemas</b></h5>
                        <h6 class="font-lite-black margin-t-10">Universidad Nacional</h6>
                        <p class="margin-tb-30">Actualmente estudiando la Licenciatura en Sistemas<a href="http://www.ungs.edu.ar" terget="_blank">Unniversidad General Sarmiento</a></p>
                      </div>
          
                      <div class="education margin-b-50" data-aos="fade-up">
                        <h4><b>UNO Universidad Nacional del Oeste(Padua, Buenos Aires)</b></h4>
                        <h5 class="font-yellow"><b>Licenciatura en inform&aacute;tica</b></h5>
                        <h6 class="font-lite-black margin-t-10">Universidad Nacional</h6>
                        <p class="margin-tb-30">Actualmente estudiando la Licenciatura en Inform&aacute;tica en la <a href="http://www.uno.edu.ar" terget="_blank">Universidad del Oeste.</a>Haciendo hincapié en los estudios de programaci&oacute;n, Tecnolog&iacute;a</p>
                      </div>
          
                      <div class="education margin-b-50" data-aos="fade-up">
                        <h4><b>Carlos Pellegrini ISFT 179 (Buenos Aires)</b></h4>
                        <h5 class="font-yellow"><b>Analista de Sistemas</b></h5>
                        <h6 class="font-lite-black margin-t-10">Terciario</h6>
                        <p class="margin-tb-30">Estudio terciario en Carlos Pellegrini ISFT 179. Analista de Sistemas. Estudio por primera vez HTML, CSS3 y C++ en dicho terciario</p>
                      </div>
          
                      <div class="education margin-b-50" data-aos="fade-up">
                        <h4><b>Universidad De Buenos Aires</b></h4>
                        <h5 class="font-yellow"><b>Diseño gráfico</b></h5>
                        <h6 class="font-lite-black margin-t-10">UBA</h6>
                        <p class="margin-tb-30">Hasta 2do Año de la carrera Diseño Gráfico en la universidad de Buenos Aires. Desarrollo de logos, diseños para diferentes marcas y ahí empieza mi facinación por el uso de los aplicativos de Adobe.</p>
                      </div>
          
                      <div class="education margin-b-50" data-aos="fade-up">
                        <h4><b>Colegio Parroquial Santa Maria del Trujui (San Miguel, Buenos Aires)</b></h4>
                        <h5 class="font-yellow"><b>Diseño gráfico, Arte y Comunicación</b></h5>
                        <h6 class="font-lite-black margin-t-10">Bachiller Privado. Primaria y Secundaria</h6>
                        <p class="margin-tb-30">Graduado en
          los estudios en el secundario orientado al diseño gráfico, arte y comunicación
          en el secundario <a href="http://www.santamariadeltrujui.edu.ar/ubica.htm" target="_blank">Colegio Parroquial Santa Maria del Trujui</a> San Miguel Bs. As.</p>
                      </div>
          
          
                    </div><!-- education-wrapper -->
                  </div><!-- col-sm-8 -->
                </div><!-- row -->
              </div><!-- container -->
          
    
                </div>
              </div>
    
            </div>
    
          </div>
    
        </section><!-- Sección experiencia laboral  -->
    