<i class="bi bi-list mobile-nav-toggle"></i>
 

<!-- ======= Hero Section ======= -->


      <!-- ======= Sección estudios ======= -->
      <section id="marcas" class="clients">

          <div class="container" data-aos="fade-up">
     <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">Marcas para las que <span class="text-span">Trabajé</span></h2>
            </div>
          </div>
            <div class="clients-slider swiper-container">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/ala.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/axe.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/cif.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/cleanipedia.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/clear.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/comfort.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/dove.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/hellmanns.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/knorr.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/lipton.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/lux.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/maizena.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/ponds.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/rexona.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/savora.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/sedal.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/suave.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/tresemme.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/unilever.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/vivere.png" class="img-fluid" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
              <br />
            </div>
          </div>
        
        </section><!-- End Clients Section -->
    
                
