<!-- begin author -->
<section class="author">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="author__inner">

              <div class="author__left col col-12 aos-init aos-animate" data-aos="fade-up">
                <h1 class="author__name"> <a class="linksButton primary"
                    onclick="window.location.href='https://www.youtube.com/channel/UCXvmfLwOtwZS845_-WBFnnQ'">
                    &nbsp; Último vídeo &nbsp; <i class="ion ion-logo-youtube"></i>&nbsp;</a> </h1>
    <h1 class="author__name"> <a class="linksButton primary" onclick="window.location.href='https://github.com/fabiansato'">
        &nbsp; Github &nbsp; <i class="ion ion-logo-github"></i>&nbsp;</a> </h1>
        <h1 class="author__name"> <a class="linksButton primary"
            onclick="window.location.href='https://twitter.com/fabiansatodev'">
            &nbsp; Twitter &nbsp; <i class="ion ion-logo-twitter"></i>&nbsp;</a> </h1>

    <h1 class="author__name"> <a class="linksButton primary"
        onclick="window.location.href='https://www.instagram.com/fabiansatodev/'">
        &nbsp; Instagram &nbsp; <i class="ion ion-logo-instagram"></i>&nbsp;</a> </h1>

        <h1 class="author__name"> <a class="linksButton primary"
            onclick="window.location.href='/projects/'">
            &nbsp; Portfolio &nbsp;</a> </h1>

    <h1 class="author__name"> <a class="linksButton primary"
        onclick="window.location.href='/acercade/'">
        &nbsp; Curriculum &nbsp; </a> </h1>
              </div>



            <div class="author__right">
              <div class="author__image">
                <img class="lazy" data-src="{{ site.data.settings.author.image }}" alt="{{site.author.name}}'s Picture">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end author -->