<i class="bi bi-list mobile-nav-toggle"></i>
 

<!-- ======= Hero Section ======= -->


      <!-- ======= Sección estudios ======= -->
      <section id="marcas" class="clients">

          <div class="container" data-aos="fade-up">
     <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">Marcas para las que <span class="text-span">Trabajé</span></h2>
            </div>
          </div>
            <div class="clients-slider swiper-container">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/ala.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/axe.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/cif.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/cleanipedia.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/clear.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/comfort.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/dove.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/hellmanns.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/knorr.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/lipton.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/lux.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/maizena.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/ponds.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/rexona.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/savora.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/sedal.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/suave.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/tresemme.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/unilever.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/logos-trabajos/vivere.webp" class="img-fluid" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
              <br />
            </div>
          </div>
        
        </section><!-- End Clients Section -->
    
                
